<footer class="text-center text-lg-start bg-light text-muted page-footer">
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
  ></section>
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p><i class="fas fa-home me-3"></i> {{ contactDetails.address }}</p>
          <p><i class="fas fa-envelope me-3"></i> {{ contactDetails.email }}</p>
          <p><i class="fa fa-phone me-3"></i> {{ contactDetails.telephone }}</p>
          <p>
            <i class="fab fa-whatsapp me-3"></i> {{ contactDetails.whatsapp }}
          </p>
        </div>
      </div>
    </div>
  </section>
</footer>
