<nav class="navbar fixed-top navbar-light bg-light">
  <div class="container-fluid">
    <p class="navbar-brand">{{ pageTitle }}</p>
  </div>
</nav>
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container-fluid">
      <button
        class="navbar-toggler"
        type="button"
        aria-controls="backgroundImageExample"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
    </div>
  </nav>
  <div
    class="p-5 text-center bg-image"
    style="
      background-image: url('https://mdbootstrap.com/img/new/slides/041.webp');
      height: 400px;
    "
  >
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6)">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <h1 class="mb-3">{{ pageTitle }}</h1>
          <h4 class="mb-3">{{ subTitle }}</h4>
        </div>
      </div>
    </div>
  </div>
</header>
